@page
@model IndexModel
@using LoL1Shot.Models;
@{
    ViewData["Title"] = "Home page";
}
<style>
    #grid {
        display: grid;
        height: 50px;
        width: 400px;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 50px;
    }

    #actionImage {
        background-image: url("images/imageError.jpg");
        background-size: 50px 50px;
    }
</style>

<link rel="stylesheet" href="~/css/buttonAnimated.css" />


<h2>Lista Combo</h2>
<div class="row col-sm-12">
    <div class="content">
        <a asp-page="CRUD_Combo/Add" class="btn">Dodaj</a>
    </div>
</div>
<br />
<br />
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => Model.comboList[0].name)
            </th>
            <th scope="col">Ikona</th>
            <th scope="col">
                @Html.DisplayNameFor(model => Model.comboList[0].championKey)
            </th>
            <th scope="col">Combos</th>
            <th scope="col">
                @Html.DisplayNameFor(model => Model.comboList[0].actionsString)
            </th>
            <th scope="col">Akcja</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var combo in Model.comboList)
        {
        <tr>
            <th scope="row">@Html.DisplayFor(m => combo.name)</th>
            <td>
                <img src=@Model._actionDB.GetChampionImageURL(combo.championKey)
                     alt="~/images/imageError.jpg" width="60" height="60" />
            </td>
            <td>@Html.DisplayFor(m => combo.championKey)</td>
            <td valign="middle">
                <div id="grid">
                    @foreach (LoL1Shot.Models.Action action in Model._actionDB.GetActions(combo.championKey, combo.actionsString))
                    {
                        string Url;
                        if (action is AutoAttack) Url = Model._actionDB.GetAutoAttackImageURL;
                        else Url = Model._actionDB.GetSpellImageURL(combo.championKey, (action as Spell).SpellKey);

                            <div id="actionImage"
                                 style="background-image:
                            url(@Url);"
                             );">
                        </div>
                    }
                </div>
            </td>
            <td>@Html.DisplayFor(m => combo.actionsString)</td>
            <td>
                <a asp-page="/CRUD_Combo/Update" asp-route-id=@combo.id>Edytuj</a> |
                <a asp-page="/CRUD_Combo/Delete" asp-route-id=@combo.id>Kasuj</a>
                <a asp-page="/Main/Clash" asp-route-id=@combo.id>1Shots</a>
            </td>
        </tr>
        }
    </tbody>
</table>